body{
	
	background-color:#FF9;
	margin:0;
	
	}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
	
	margin-left:-20px;
	margin-right:5px;
	top:25%;
  	cursor: pointer;
  	position:absolute;
  	color: white;
  	font-weight: bold;
  	font-size: 60px;
  	border-radius: 0 3px 3px 0;
  	user-select: none;
  	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

#bluba{
	
	font-family:"Comic Sans MS", cursive;
	font-size:28px;
	
	}

.fa-facebook-square{
	
		color:blue;
	
			}

.fa-twitter-square{
	
		color:blue;
	
			}
			

.fa-youtube-square{
	
		color:red;
	
			}
			

.fa-google{
	
		color:red;
	
			}	
